---
BasedOnStyle: WebKit
ExperimentalAutoDetectBinPacking: true
PointerAlignment: Right
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
IndentPPDirectives: BeforeHash
PPIndentWidth: 4
AllowShortLoopsOnASingleLine: true
